.reviewsSection {
  background-color: #ffefe6;
  position: relative;
  padding-bottom: 5px;
  padding-top: 10px;
}

.reviewsSection__wrapper {
  width: 80%;
  margin: 0 auto;
}

.reviewsSection__icon {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 2;
}

.reviewsSection__subtitle {
  text-align: center;
  font-size: 18px;
}
