.button {
  width: 100%;
  border: none;
  background: linear-gradient(#e5733f, #f95d47);
  color: #fff;
  border-radius: 20px;
  font-size: 14px;
  padding: 18px;
  transition: all 0.3ms ease;
}

.button:hover {
  background: transparent;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}
