.editClientProfile {
  padding-top: 40px;
  padding-bottom: 100px;
}

.editClientProfile__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.editClientProfile__backButton,
.editClientProfile__notificationButton {
  border: none;
  background-color: transparent;
}

.editClientProfile__title {
  color: var(--primary-color);
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 0;
}

.editClientProfile__imgContainer {
  height: 15vh;
  align-content: center;
  position: relative;
}

.editClientProfile__imgContainer img {
  width: 67px;
  height: 67px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

.editClientProfile__editText {
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  width: 67px;
  height: 33.5px;
  background-color: #d9d9d9;
  opacity: 0.7;
  display: flex;
  justify-content: center;
  align-items: center;
  clip-path: ellipse(50% 100% at 50% 0);
  font-size: 10px;
  font-weight: 600;
  cursor: pointer;
}

.editClientProfile__fields {
  margin-bottom: 30px;
}

.editClientProfile__field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  position: relative;
}

.editClientProfile__field input {
  padding: 10px 15px;
  padding-left: 20px;
  border: 1px solid var(--background-color);
  border-radius: 10px;
  font-size: 12px;
  margin: 10px 0;
    position: relative;
}

.editClientProfile__icon i {
  position: absolute;
  top: 31%;
  right: 50%;
  transform: translate(-31%, 50%);
}

.editClientProfile__info p {
  font-size: 14px;
  margin-bottom: 3px;
}

.editClientProfile__userInfo {
  color: var(--secondary-color);
}

.editClientProfile__verifyEmail {
  color: var(--primary-color);
  font-size: 12px;
}

.editClientProfile__editButton {
  background: none;
  border: 1px solid var(--primary-color);
  font-size: 12px;
  font-weight: 600;
  border-radius: 8px;
  padding: 5px 15px;
  cursor: pointer;
}

.editClientProfile__notificationOption p {
  font-size: 12px;
  color: var(--secondary-color);
  margin-left: 30px;
}

.editClientProfile__formActions {
  display: flex;
  gap: 10px;
  padding: 40px 0;
}

.editClientProfile__accountActions {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.editClientProfile__accountActions button {
  border: none;
  background-color: transparent;
  font-size: 14px;
}

.editClientProfile__logoutBtn {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 600;
}

.editClientProfile__deleteBtn {
  color: var(--secondary-color);
}
