.clientAdCard {
  /* position: relative; */
  /* z-index: 10; */
  border: 1px solid var(--secondary-color);
  border-radius: 10px;
  background-color: #fff;
  padding: 15px;
  margin-bottom: 20px;
}

.clientAdCard__header,
.clientAdCard__title_date {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.clientAdCard__user,
.clientAdCard__urgency {
  display: flex;
  align-items: center;
  gap: 10px;
}

.clientAdCard__userImage {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 1px solid var(--primary-color);
  object-fit: cover;
}

.clientAdCard__userName {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 0;
}

.clientAdCard__userTag {
  font-size: 10px;
  color: var(--secondary-color);
  margin-bottom: 0;
}

.immediateTag {
  background-color: var(--red-color-light);
  color: var(--red-color-dark);
  font-size: 12px;
  font-weight: 700;
  padding: 0 15px;
  border-radius: 5px;
  text-transform: uppercase;
}

.flexibleTag {
  background-color: var(--green-color-light);
  color: var(--green-color-dark);
  font-size: 12px;
  font-weight: 700;
  padding: 0 15px;
  border-radius: 5px;
  text-transform: uppercase;
}

.clientAdCard__title {
  font-weight: 700;
  font-size: 14px;
  margin-top: 30px;
  margin-bottom: 0;
  padding-bottom: 5px;
}

.clientAdCard__date {
  color: var(--secondary-color);
  font-size: 10px;
  margin-bottom: 0;
  padding-bottom: 5px;
}

.clientAdCard__description {
  font-size: 14px;
  margin-top: 10px;
}

.clientAdCard__location {
  font-size: 12px;
  margin-left: 5px;
}

.clientAdCard__address {
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
  margin-top: 7px;
}

.clientAdCard__address span {
  font-size: 12px;
}

.clientAdCard__address a {
  font-size: 10px;
  text-decoration: none;
  font-weight: 600;
}

.clientAdCard__imageGallery {
  padding: 10px 0;
  display: flex;
  align-items: center;
  gap: 10px;
}

.clientAdCard__imageGallery img {
  width: 70px;
  height: 70px;
  border-radius: 5px;
}

.clientAdCard__buttonContainer {
  display: flex;
  justify-content: flex-end;
  margin: 20px 0;
}

.clientAdCard__arrow {
  display: flex;
  justify-content: center;
}
