.buttonTransparent {
  border: 1px solid var(--primary-color);  
  border-radius: 15px;
  background: transparent;
  font-weight: 600;
  padding: 15px 0;
  transition: background-color 0.3ms ease;
}

.buttonTransparent:hover {
  background: linear-gradient(#e5733f, #f95d47);
}
