.handymanResultCard {
  background-color: #fff;
  padding-bottom: 30px;
  margin-bottom: 30px;
}

.handymanResultCard__header,
.handymanResultCard__actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.handymanResultCard__details,
.handymanResultCard__location {
  display: flex;
  align-items: center;
  gap: 5px;
}

.handymanResultCard__image {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  object-fit: cover;
}

.handymanResultCard__name {
  font-weight: 700;
  margin-bottom: 0;
}

.handymanResultCard__locationText {
  font-size: 14px;
  margin-bottom: 0;
}

.handymanResultCard__availability span {
  font-size: 10px;
  font-weight: 600;
  border-radius: 8px;
  padding: 3px 7px;
}

.available {
  color: var(--green-color-dark);
  background-color: var(--green-color-light);
}

.notAvailable {
  color: var(--red-color-dark);
  background-color: var(--red-color-light);
}

.handymanResultCard__rating {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px;
  margin-top: 20px;
}

.handymanResultCard__rating img {
  width: 12px;
}

.handymanResultCard__ratingText {
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: rgb(253, 253, 176);
}

.handymanResultCard__ratingText p {
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 0;
}

.handymanResultCard__reviewsCount {
  background-color: transparent;
  color: var(--secondary-color);
  font-weight: 600;
  font-size: 12px;
}

.handymanResultCard__categories {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 20px 0;
}

.handymanResultCard__categories span {
  background-color: #e8effe;
  color: #5584e5;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 700;
  padding: 8px;
}

.handymanResultCard__description {
  font-size: 14px;
}

.handymanResultCard__button {
  border: none;
  background-color: transparent;
  color: var(--primary-color);
  font-size: 12px;
  font-weight: 600;
  transition: all 0.3ms ease;
}
