.carpenterCard {
  padding: 10px;
  text-align: center;
}

.carpenterCard__image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}

.carpenterCard__info {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 10px;
}

.carpenterCard__name {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 0;
}

.carpenterCard__category {
  font-size: 14px;
}
