.topRatedSection {
  overflow: hidden;
}

.topRatedCardsContainer {
  display: flex;
  gap: 20px;
  width: max-content;
  animation: swipe 15s linear infinite;
}

.topRatedSection:hover .topRatedCardsContainer {
  animation-play-state: paused;
}

@keyframes swipe {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-33.33%);
  }
}

.topRatedWrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px 35px;
  overflow: hidden;
}
