.categories {
  padding-bottom: 75px;
}

.categories__subtitle {
  font-size: 14px;
  padding-bottom: 15px;
}

.categories__cardContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.categories__searchCardContainer {
  margin-top: 25px;
}
