.CustomerFeedback {
  background-color: #fff;
  border-radius: 10px;
  margin: 20px 0;
}

.CustomerFeedback__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.CustomerFeedback__userInfo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.CustomerFeedback__avatar {
  width: 36;
  height: 36px;
  border-radius: 50%;
  object-fit: cover;
}

.CustomerFeedback__name {
  font-weight: 600;
  font-size: 12px;
  margin-bottom: 0;
}

.CustomerFeedback__city {
  color: #5584e5;
  font-size: 12px;
  margin-bottom: 0;
}

.CustomerFeedback__rating {
  margin: 5px 0 10px;
}

.CustomerFeedback__rating img {
  width: 16px;
}

.CustomerFeedback__description {
  font-size: 12px;
}
