.heroSection {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

.heroSection__title {
  font-size: 40px;
  font-weight: 400;
  margin: 0 0 15px;
}

.heroSection__subtitle {
  font-size: 18px;
}

.heroSection__imgContainer {
  margin: 40px 0;
}
