.bookTradesmenSection {
  text-align: center;
  padding: 40px 0;
  position: relative;
}

.blueLine {
  position: absolute;
  top: 200px;
  right: 70px;
}

.bookTradesmenSection__text {
  font-size: 14px;
  margin: 30px 0;
}
