.wrapper {
  width: 85%;
  margin: 0 auto;
}

.fasthand-regular {
  font-family: "Fasthand", cursive;
  font-weight: 400;
  font-style: normal;
}

.title-h2 {
  font-size: 38px;
  font-weight: 500;
  margin: 35px 0;
  text-align: center;
  position: relative;
  z-index: 99;
}
