.wrapper {
  width: 85%;
  margin: 0 auto;
}

.fasthand-regular {
  font-family: "Fasthand", cursive;
  font-weight: 400;
  font-style: normal;
}

.title-h2 {
  font-size: 38px;
  font-weight: 500;
  margin: 35px 0;
  text-align: center;
  position: relative;
  z-index: 99;
}

.title-h1 {
  font-size: 32px;
  font-weight: 500;
  margin: 20px 30px 80px;
}

.border-bottom {
  border-bottom: 1px solid var(--background-color);
}

.activeRole {
  color: var(--primary-color);
}

.errorMessage {
  font-size: 14px;
  font-weight: 600;
}