.clientProfile {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.clientProfile__content {
  display: flex;
  align-items: center;
  gap: 15px;
}

.clientProfile__imageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.clientProfile__imageContainer img {
  width: 67px;
  height: 67px;
  border-radius: 50%;
  object-fit: cover;
}

.clientProfile__userRole {
  font-size: 10px;
  font-weight: 700;
  color: var(--blue-color);
}

.clientProfile__userName {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 0;
}

.clientProfile__userEmail,
.clientProfile__city,
.clientProfile__phone {
  font-size: 14px;
  margin-bottom: 0;
}

.clientProfile__location,
.clientProfile__contactInfo {
  display: flex;
  align-items: center;
  gap: 5px;
}

.clientProfile__location p {
  margin-bottom: 0;
}
