.homepage {
  text-align: center;
}

.homepage h1 {
  font-size: 40px;
  font-weight: 400;
}

.homepage p {
  font-size: 18px;
}

.imgContainer {
  margin: 35px 0;
}

.btnContainer {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.btnContainer button {
  width: 100%;
  border: 1px solid var(--primary-color);
  border-radius: 15px;
  font-size: 12px;
  font-weight: 600;
  padding: 17px 0;
}

.anfrageBtn {
  background-color: transparent;
  transition: all 0.3 ease;
}

.anfrageBtn:hover {
  background: linear-gradient(#e5733f, #f95d47);
}

.findenBtn {
  background: linear-gradient(#e5733f, #f95d47);
  color: #fff;
  transition: all 0.3 ease;
}

.findenBtn:hover {
  background: transparent;
  color: #000;
}
