.newCarpentersSection {
  overflow: hidden;
  padding-bottom: 40px;
}

.newCarpentersSection__cardContainer {
  display: flex;
  gap: 20px;
  width: max-content;
  animation: swipe 15s linear infinite;
}

.newCarpentersSection:hover .newCarpentersSection__cardContainer {
  animation-play-state: paused;
}

@keyframes swipe {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-33.33%);
  }
}

.newCarpentersSection__wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px 15px;
  overflow: hidden;
}
